.container-fluid{
    padding: 0;
}

/* NavBar */

.navbar{
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}
/* .nav{ */
/*  */
    /* margin: auto; */
/* } */
.navbar-brand{
    font-weight: bold;
    letter-spacing: 1px;
}

a.nav-link{
    color: #333;
    letter-spacing: 1px;
}


/* dashboard */

.dashboard{
    padding: 0;
    width: 100%;
    display: block;
    
}

.dashboard h4{
    font-size: 20px;

}

.dashboard span{
    font-size: 40px;
    display: block;
    width: 100%;
}

.dashboard-box{
    float: left;
    background-color: #9c9797;
    color: rgb(98, 100, 102);
    padding: 20px;
    box-sizing: border-box;
    height: 130px;
    width: 32%;
    text-align: center;
    
}

/* .dashboard-box:nth-child(3){
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.dashboard-box:nth-child(5){
    margin-left: 1.5%;
}

.dashboard-box:nth-child(2){
    margin-left: 13%;

} */
.dashboard-box:nth-child(2){
    margin-left: 16%;
}

#dashboard-lastdays{
    background-color: #dfdfdf ;
}

#dashboard-aassistir{
    background-color: #afcfff ;
}

#dashboard-assistindo{
    background-color: rgb(215, 255, 227);
}

#dashboard-assistido{
    background-color: rgb(255, 220, 220);

}
/* Barra de pesquisa*/

.add-div{
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 2px;
}

/* Search*/

.search-div {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin: auto;
    display: inline-block;
}

#filter{
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

/* filter */

.filter-div{
    margin-bottom: 15px;
    padding: 0;
}

/* Lista */

.list-div{
    padding: 0;
}

.list-lista{
    padding-left: 0;
    padding-top: 10px;
}

.list-item{
    list-style: none;
    font-size: 20px;
    height: 58px;
    padding: 0px 15px;
    padding-top: 10px;
    /* border-bottom: 1px solid #ccc; */
    background-color: rgb(217, 237, 255);
    border-radius: 3px;
    margin-bottom: 1px;
}

.list-item.assis{
    background-color: rgb(215, 255, 227);
}

.list-item.vist{
    background-color: rgb(255, 220, 220);
}
.link-list.status{
    float: right; 
    margin-top: 6px;
    border: 2px;
    border-radius: 3px;
    background-color: #afcfff;
    padding: .200rem .75rem;


}

.botadd, .botedt{
    margin: 5px;
    float: right;
    padding-top: 50%;

}

/* Rodapé */
footer {
    background-color: #333;
    height: 200px;
    border-top: 2px solid #202020;
    bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;

}

footer p {
    color: aliceblue;
    text-align: center;
    top: 50%;
    position: relative;
}


a.link-list{
    text-decoration: none;
    color: #333;
}

/* Paginação */

.pagination {
    margin-bottom: 20px;
}
.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}

/* Login */
.auth-card {
    margin-bottom: 30px;
    
}
.card-body{
    align-items: center;
}

.bottons{
    display: grid;
    
}

